<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>944667656602-3mje43o5i2knsmu1ciosaat93o611nmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944667656602-3mje43o5i2knsmu1ciosaat93o611nmr</string>
	<key>API_KEY</key>
	<string>AIzaSyAsgVl778eXtA2gLovPWzgcn0bbj4P1Geo</string>
	<key>GCM_SENDER_ID</key>
	<string>944667656602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.duoline.furgoneta</string>
	<key>PROJECT_ID</key>
	<string>furgoneta-105a3</string>
	<key>STORAGE_BUCKET</key>
	<string>furgoneta-105a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944667656602:ios:7b6ae2c729b47884</string>
	<key>DATABASE_URL</key>
	<string>https://furgoneta-105a3.firebaseio.com</string>
</dict>
</plist>